# logging dir
log.file = rabbit.log
log.dir = /mnt/

# debug logging level
log.file.level = debug
log.default.level = debug

## Send all logs to stdout/TTY
log.console = true
log.console.level = debug

## allow access to the guest user from anywhere on the network
loopback_users.guest = false

# ports
listeners.tcp.default = 5672
management.tcp.port = 15672
stomp.listeners.tcp.1 = 127.0.0.1:61613
stomp.listeners.ssl.1 = 127.0.0.1:61614

# authentication
auth_backends.1 = internal
auth_backends.2 = http

auth_http.http_method   = post
auth_http.user_path     = http://172.19.0.3:8080/rabbitmq/user
auth_http.vhost_path    = http://172.19.0.3:8080/rabbitmq/vhost
auth_http.resource_path = http://172.19.0.3:8080/rabbitmq/resource
auth_http.topic_path    = http://172.19.0.3:8080/rabbitmq/topic

# stomp default user
stomp.default_vhost = /
stomp.default_user = guest
stomp.default_pass = guest

# stomp tcp config
stomp.tcp_listen_options.backlog = 4096
stomp.tcp_listen_options.recbuf  = 196608
stomp.tcp_listen_options.sndbuf  = 196608
stomp.tcp_listen_options.linger.on = true
stomp.tcp_listen_options.linger.timeout = 0
stomp.tcp_listen_options.keepalive = true
stomp.tcp_listen_options.nodelay   = true
stomp.tcp_listen_options.exit_on_close = true
stomp.tcp_listen_options.send_timeout  = 120

# ssl config
ssl_options.cacertfile = /home/testca/cacert.pem
ssl_options.certfile   = /home/server/cert.pem
ssl_options.keyfile    = /home/server/key.pem

#test
ssl_options.verify     =  verify_none
ssl_options.fail_if_no_peer_cert = false

# management.cors.allow_origins.1 = *

#web_stomp 
web_stomp.tcp.port = 61611

# stomp tcp config
web_stomp.ssl.port = 61612
web_stomp.ssl.backlog = 4096
web_stomp.ssl.certfile   = /home/server/cert.pem
web_stomp.ssl.keyfile    = /home/server/key.pem
web_stomp.ssl.cacertfile = /home/testca/cacert.pem
web_stomp.ssl.password = guest123

# connection inactivity timeout
web_stomp.cowboy_opts.idle_timeout = 60000
# max number of pending requests allowed on a connection
web_stomp.cowboy_opts.max_keepalive = 200
# max number of headers in a request
web_stomp.cowboy_opts.max_headers   = 100
# max number of empty lines before request body
web_stomp.cowboy_opts.max_empty_lines = 5
# max request line length allowed in requests
# web_stomp.cowboy_opts.max_request_line_length

# WebSocket Options

# WebSocket traffic compression
web_stomp.ws_opts.compress = true

# WebSocket connection inactivity timeout
web_stomp.ws_opts.idle_timeout = 60000

web_stomp.ws_opts.max_frame_size = 50000

